{block name="header_top"}
<nav id="ttr_menu" class="navbar-default navbar">
    <div id="ttr_menu_inner_in">
        <div class="ttr_menu_logo">
        </div>
        <div id="navigationmenu">
            <div class="navbar-header">
                
            </div>
            <div class="position-static">
            {hook h="displayTop"}
                <div style="clear: both;"></div>
            </div>
            {/block}
        </div>
    </div>
</nav>