{block name="header_top"}
{if $page.page_name == 'index'}
<div class="ttr_banner_slideshow">
</div>
<div class="ttr_slideshow">
<div id="ttr_slideshow_inner">
<ul>
<li id="Slide0" class="ttr_slide" data-slideEffect="Fade">
<a href="http://www.example.com"></a>
<div class="ttr_slideshow_last">
<div class="ttr_slideshow_element_alignment container" data-begintime="0" data-effect="Fade" data-easing="linear" data-slide="None" data-duration="0">
</div>
<div class="ttr_slideshowshape01" data-effect="None" data-begintime="0" data-duration="1" data-easing="linear" data-slide="None">
<div class="html_content"><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span style="font-family:'Rosario','Georgia';font-weight:700;font-size:3.429em;color:rgba(30,214,203,1);">WEB DESIGN</span></p><p style="margin:0em 0em 1px 0em;text-align:Center;line-height:2.14285714285714;font-family:'<String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;>&amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;gt;&amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;gt;&amp;amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;amp;gt;&amp;amp;amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;amp;amp;gt;Arial&amp;amp;amp;amp;lt;/String&amp;amp;amp;amp;gt;&amp;amp;amp;lt;/String&amp;amp;amp;gt;&amp;amp;lt;/String&amp;amp;gt;&amp;lt;/String&amp;gt;</String>';font-size:1.333em;"><span style="font-family:'PT Sans','Arial';font-size:1.143em;">Tantas equidem urbanitas an has. Eam id vidisse oportere efficiendi, mea </span><span style="font-family:'PT Sans','PT Sans';font-size:1.143em;">consul </span><span style="font-family:'PT Sans','Arial';font-size:1.143em;">patrioque assueverit id. Ne quo nulla primis elaboraret, id mutat affert pri. Congue feugiat eu sed, nam vocibus invidunt hendrerit eu. Ad duo minim euripidis.</span></p></div>
</div>
</div>
</li>
<li id="Slide1" class="ttr_slide" data-slideEffect="Fade">
<a href="http://www.example.com"></a>
<div class="ttr_slideshow_last">
<div class="ttr_slideshow_element_alignment container" data-begintime="0" data-effect="Fade" data-easing="linear" data-slide="None" data-duration="0">
</div>
<div class="ttr_slideshowshape11" data-effect="None" data-begintime="0" data-duration="1" data-easing="linear" data-slide="None">
<div class="html_content"><p style="margin:0.36em 0.36em 1.43em 0.36em;text-align:Center;"><span style="font-family:'Rosario','PT Sans';font-weight:700;font-size:3.429em;color:rgba(30,214,203,1);">PROJECTS</span></p><p style="text-align:Center;line-height:2.14285714285714;"><span style="font-family:'PT Sans','Arial';font-size:1.143em;">Laoreet recteque pertinacia eam eu, sea ut dignissim consetetur voluptatum. Eu epicurei partiendo has. Dolores expetenda contentiones sit ea, duis erant facete ne mei.Laoreet recteque pertinacia eam eu, sea ut dignissim consetetur voluptatum. Eu epicurei partiendo has. Dolores expetenda contentiones sit ea, duis erant facete ne mei.</span></p></div>
</div>
</div>
</li>
<li id="Slide2" class="ttr_slide" data-slideEffect="Fade">
<a href="http://www.example.com"></a>
<div class="ttr_slideshow_last">
<div class="ttr_slideshow_element_alignment container" data-begintime="0" data-effect="Fade" data-easing="linear" data-slide="None" data-duration="0">
</div>
<div class="ttr_slideshowshape21" data-effect="None" data-begintime="0" data-duration="1" data-easing="linear" data-slide="None">
<div class="html_content"><p style="text-align:Center;"><span style="font-family:'Rosario','PT Sans';font-weight:700;font-size:3.429em;color:rgba(30,214,203,1);">Team Work</span></p><br style="margin:0em 0em 1px 0em;text-align:Left;line-height:2.14285714285714;font-family:'<String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;>&amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;gt;&amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;gt;&amp;amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;amp;gt;&amp;amp;amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;amp;amp;gt;Arial&amp;amp;amp;amp;lt;/String&amp;amp;amp;amp;gt;&amp;amp;amp;lt;/String&amp;amp;amp;gt;&amp;amp;lt;/String&amp;amp;gt;&amp;lt;/String&amp;gt;</String>';font-size:1.333em;" /><p style="margin:0em 0em 1px 0em;text-align:Center;line-height:2.14285714285714;font-family:'<String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;>&amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;gt;&amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;gt;&amp;amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;amp;gt;&amp;amp;amp;amp;lt;String xmlns=&quot;clr-namespace:System;assembly=mscorlib&quot;&amp;amp;amp;amp;gt;Arial&amp;amp;amp;amp;lt;/String&amp;amp;amp;amp;gt;&amp;amp;amp;lt;/String&amp;amp;amp;gt;&amp;amp;lt;/String&amp;amp;gt;&amp;lt;/String&amp;gt;</String>';font-size:1.333em;"><span style="font-family:'PT Sans','PT Sans';font-size:1.143em;">Est no percipit philosophia, ea sumo novum neglegentur vel. Adhuc nominavi quaestio in vim. Tollit efficiantur mel ut. Ut vim viris doctus percipit.Est no percipit philosophia, ea sumo novum neglegentur vel. Adhuc nominavi quaestio in vim. Tollit efficiantur mel ut. Ut vim viris doctus percipit.</span></p></div>
</div>
</div>
</li>
</ul>
</div>
<div class="ttr_slideshow_in">
<div class="ttr_slideshow_last">
<div id="nav"></div>
<div class="ttr_slideshow_logo">
</div>
</div>
</div>
</div>
<div class="ttr_banner_slideshow">
</div>
{/if}
{/block}
