<!--div class=" menu-center collapse navbar-collapse"-->
<div class="menu-wrap">
    <!--input type="checkbox" class="toggler"-->
<div class="toggler" >
      <input class="toggler" id="togglerP"  type="button" value="Click me" onclick="voir()">
      <!--input class="toggler" id="togglerP"  type="button" value="Click me" onclick="voir()" onmouseover="myOverFunction()"-->
    </div>
    <label for="togglerP" class="togglerL" >
      <div id="hamburger" class="hamburger"><div id="ham" class="ham"></div></div>
    </label>
    <div id="menuG" class="menu" style="visibility:hidden;">
      <div id="m1" class="m1">
        <div id="m2" class="m2">
{assign var=_counter value=0}
{function name="menu" nodes=[] depth=0 parent=null}
{if $nodes|count}
 {if $depth == 0}
 	<!---->
	<ul>
	{elseif  $depth ===1}
	<ul  data-depth="{$depth}">
	{elseif  $depth >1}
	 <ul role="menu"  data-depth="{$depth}">
	 <!---->
		{/if}
		 {foreach from=$nodes item=node}
		{if ($node.children|count)}
		{if $depth == 0} 
		<li id="{$node.page_identifier}">
		{else}
		<li id="{$node.page_identifier}">
		{/if}
		{else}
		<li id="{$node.page_identifier}"><!---->
			<!---->
			 {/if}
			 {assign var=_counter value=$_counter+1}
			 {if ($node.children|count)}
			 <a {if $depth == 0} class="{if $node.current}ttr_menu_items_parent_link_active{/if}"data-toggle="dropdown"{elseif  $depth ==1}  class=""data-toggle="dropdown"{elseif  $depth >1}   class=" {/if} href="{$node.url}"data-depth="{$depth}"{if $node.open_in_new_window} target="_blank"{/if} >
			<span class=""></span>
			  {else}
			<a {if $depth == 0} class="{if $node.current}ttr_menu_items_parent_link_active{/if}"data-toggle="dropdown"{elseif  $depth >0}   class="last-item"{/if} href="{$node.url}"data-depth="{$depth}"{if $node.open_in_new_window} target="_blank"{/if} >
				<span class="menuchildicon"></span>
			  {/if}
			 {$node.label}
			</a>
			 {if $depth>=0}
			 <hr class="horiz_separator">
 {/if}
 {if $node.children|count}
 {menu nodes=$node.children depth=$node.depth parent=$node}
 {/if}
</li>
  {/foreach}
 </ul>
{/if}
{/function}
{menu nodes=$menu.children}
 <div style="clear: both;"></div>
</div>